body{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10%;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    background-color: #fff;
    padding: 0px;
}

.grid-container > img {
    background-color: #f1f1f1;
    width: 100%;
  }
