.grid-container{
    display: grid
;
    grid-template-columns: auto auto auto;
    gap: 0px;
    background-color: #fff;
    padding: 0px;
}

.grid-container > img {
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px;
    font-size: 30px;
  }

img{
    width: 200px;
    height: 200px;
}