body{
    padding: 20%;
}

main {
    display: flex
;
    flex-direction: row;
    border: 1px solid black;
    border-radius: 25px;
    width: 100%;
    padding: 40px;
    justify-content: space-evenly;
}
.help-message{
    text-align: center;
    display: flex;
    width: 200px;
}

.arrow{
    border: 1px solid;
    width: 117px;
    padding: 0px;
    height: 1px;
    background: #000;
    display: flex;
    align-self: center;
}

.toolbar{
    display: flex;
    flex-direction: column;
}

.tooltip-message{
    display: none;
    border: 1px solid #000;
    border-radius: 25px;
    background: #000;
    color: #fff;
}

.toolbar-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.toolbar-nav > a:hover, .tooltip-message{
    display: block;
}