*{
    margin: 0px;
}

.form{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20%;
}

.form-container{
    display: flex;
    flex-direction: row;
    border: 2px solid #000;
    border-radius: 25px;
    padding: 10%;
}

form.form-input-section{
    display: flex;
    flex-direction: column;
}

.form-input{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
}

.form-input > label{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
    text-align: start;
    padding-bottom: 6px;
}

input{
    padding: 9px;
    width: 82%;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    border: 2px solid #000;
    border-radius: 10px;
}

.error{
    color: red;
    font-size: 12px;
    padding-top: 6px;
    padding-bottom: 10px;
}

#email{
    border-color: red;
    color: red;
}

.btn {
    padding: 13px;
    border-radius: 10px;
    width: 92%;
    margin-top: 10px;
}

.btn-dark{
    background-color: #000;
    color: #fff;
}

.form-progress-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-progress{
    border: 1px solid;
    padding: 30px;
    border-radius: 100%;
    border-left: 4px solid;
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-right: 2px solid grey;
    margin-bottom: 120px;
}

.form-checklist{
    border: 1px solid;
    border-radius: 10px;
    padding: 10px;
    width: 183px;
}

.form-checklist > ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    background: lightgray;
}

li > del{
    color: lightslategray
}