*{
    margin: 0px;
    padding: 0px;
}

#navbar{
    width: 100%;
    display: flex;
    justify-content:space-between;
    margin: 2%;
}


#navbar-items a{
    text-decoration: none;
    padding: 12px;
    border-right: 1px solid black;
    border-right-style: groove;
}